<appSettings>
  <add key="FrontendDomain" value="http://lod-misis.ru"/>
  <!--Mailer settings-->
  <add key="MailerSettings.SmtpServer" value="217.69.139.160"/>
  <add key="MailerSettings.Port" value ="465"/>
  <add key="MailerSettings.Password" value="F0rjustice"/>
  <add key="MailerSettings.From" value="leagueofdevelopers@mail.ru"/>
  <add key="MailerSettings.MessageTemplate" value="Need to be extracted from resources"/>
  <add key="MailerSettings.Caption" value="Подтверждение аккаунта на сайте Лиги Разработчиков"/>
  <!--Redmine settings-->
  <add key="Redmine.Host" value="http://85.143.104.47:1080/redmine"/>
  <add key="Redmine.ApiKey" value="6b51a8ed9d34c60dae7a48a09cbf0628cbf37539"/>
  <!--UserRoleAnalyzer settings-->
  <add key="UserRoleAnalyzer.AppropriateEditDistance" value="3"/>
  <add key="UserRoleAnalyzer.DefaultRole" value="Разработчик"/>
  <!--Authorizer settings-->
  <add key="Authorizer.TokenLifeTimeInSeconds" value="86400"/>
</appSettings>
