<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config" />
	</configSections>
	<appSettings>
		<add key="BackendDomain" value="https://api.lod-misis.ru" />
		<add key="FrontendDomain" value="https://lod-misis.ru" />
		<!--Confirmation settings-->
		<add key="Confirmation.FrontendConfirmationUri" value="https://lod-misis.ru/developers/confirmation/" />
    <!--Profile settings-->
    <add key="Profile.FrontendProfileUri" value="https://lod-misis.ru/developers/profile/" />
    <!--EventBus settings-->
    <add key="EventBusSettings.HostName" value="$(HostName)" />
    <add key="EventBusSettings.VirtualHost" value="$(VirtualHost)" />
    <add key="EventBusSettings.UserName" value="$(UserName)" />
    <add key="EventBusSettings.Password" value="$(Password)" />
    <!--Github client OAuth settings-->
    <add key="GithubGateway.ClientId" value="$(githubAppClientId)" />
    <add key="GithubGateway.ClientSecret" value="$(githubAppClientSecret)" />
    <add key="GithubGateway.GithubApiDefaultCallbackUri" value="https://api.lod-misis.ru/github/callback/" />
    <add key="GithubGateway.OrganizationName" value="LeagueOfDevelopers" />
    <!--Mailer settings-->
    <add key="MailerSettings.SmtpServer" value="smtp.yandex.ru" />
    <add key="MailerSettings.Port" value="25" />
    <add key="MailerSettings.Password" value="$(MailerPassword)" />
    <add key="MailerSettings.From" value="mail@lod-misis.ru" />
    <add key="MailerSettings.DisplayName" value="Лига Разработчиков" />
    <add key="MailerSettings.MessageTemplate" value="Need to be extracted from resources" />
    <add key="MailerSettings.Caption" value="Подтверждение аккаунта на сайте Лиги Разработчиков" />
    <add key="MailerSettings.BasicEmailTimeoutInSecond" value="10" />
    <add key="MailerSettings.TimeoutIncrementInSeconds" value="10" />
    <add key="MailerSettings.MaxEmailTimeout" value="600" />
		<!--UserRoleAnalyzer settings-->
		<add key="UserRoleAnalyzer.AppropriateEditDistance" value="3" />
		<add key="UserRoleAnalyzer.DefaultRole" value="Разработчик" />
		<!--Authorizer settings-->
		<add key="Authorizer.TokenLifeTimeInSeconds" value="86400" />
		<!--File Storage settings-->
		<add key="FileStorage.FileFolder" value="~/Files" />
		<add key="FileStorage.FileExtensions" value="doc,docx,pdf,ttf,txt" />
		<add key="FileStorage.ImageFolder" value="~/Images" />
		<add key="FileStorage.ImageExtensions" value="jpg,jpeg,png,svg,bmp,gif" />
		<!--Projects pagination settings-->
		<add key="Projects.Pagination.PageSize" value="6" />
		<!--Notifications pagination settings-->
		<add key="Notifications.Pagination.PageSize" value="5" />
	</appSettings>
  <connectionStrings>
    <add name="NHibernateConnectionString" connectionString="$(NHibernateConnectionString)" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">$(SQLDialect)</property>
      <property name="connection.driver_class">$(SQLDriverClass)</property>
			<property name="connection.connection_string_name">NHibernateConnectionString</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>
  <loggly xmlns="Loggly" customerToken="$(logglyCustomerToken)" applicationName="lodcore" isEnabled="true">
    <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443" />
    <tags>
      <complex>
        <tag type="Loggly.ApplicationNameTag" formatter="application-{0}" />
      </complex>
    </tags>
  </loggly>

	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" maxRequestLength="10240" />
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.37.0.0" newVersion="3.37.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1510.2205" newVersion="4.2.1510.2205" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Loggly" publicKeyToken="aea0e3c965ace843" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.1.25" newVersion="4.6.1.25" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Loggly.Config" publicKeyToken="aea0e3c965ace843" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.1.45" newVersion="4.6.1.45" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>