<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table bgcolor="#f1f1f1" border="0" cellpadding="0" cellspacing="0" style="font-family: 'PT Sans', sans-serif; margin: 0 auto; max-width: 600px; padding: 0;"
       width="100%" xmlns="http://www.w3.org/1999/html">
    <tr bgcolor="#ffffff">
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 30px auto; padding: 0">
                <tr>
                    <td>
                        <a href="http://lod-misis.ru" target="_blank">
                            <img alt="" border="0" style="display: block; margin: auto; width: 60%;"
                                 src="https://lod-misis.ru/app/imgs/logo-ver2-black.png">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0"
                   style="border-color: #e3e3e3; border-style: solid; border-width: 3px 0 3px 0; color: #000000; margin: 0; padding: 0; width: 100%;">
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="margin: 30px 10px; padding: 0">
                            <tr>
                                <td align="center">
                                    <span
                                        style="-webkit-text-size-adjust: none; font: 25px 'Arial Black', Gadget, sans-serif; font-weight: bold; line-height: 30px; text-align: center;">
                                        С нами связались!
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 18px; margin: 0 20px; padding: 0;">
                            <tr>
                                <td>
                                    <span style="line-height: 30px;">Здравствуйте, @Model.UserName.</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 18px; margin: 0 20px; padding: 0;">
                            <tr>
                                <td>
                                    <span
                                        style="color: #2980b9; font-weight: bold; line-height: 25px;">
                                        @Model.SenderName
                                    </span>
                                    <span style="line-height: 25px;"> оставил сообщение на тему «@Model.Topic»:</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 18px; margin: 0 40px; padding: 0;">
                            <tr>
                                <td>
                                    <br/>
                                    <span style="line-height: 20px;">«@Model.Message»</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 18px; margin: 0 20px; padding: 0;">
                            <tr>
                                <td>
                                    <br/>
                                    <span
                                        style="line-height: 25px;">
                                        Также @Model.SenderName
                                    </span>
                                    <span style="line-height: 25px;"> указал Email для обратной связи: </span>
                                    <a href="mailto:@Model.SenderEmail"
                                       style="-webkit-text-size-adjust: none; color: #2980b9; line-height: 25px; text-decoration: underline;">
                                        @Model.SenderEmail
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="color: #8a8a8a; font-size: 18px; margin: 25px 10px; padding: 0;">
                            <tr>
                                <td align="center">
                                    <a href="http://lod-misis.ru/notifications"
                                       style="-webkit-text-size-adjust: none; color: #8a8a8a; text-decoration: underline;"
                                       target="_blank">
                                        Просмотреть
                                    </a>
                                    <span> все оповещения.</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 16px; margin: 30px 10px; padding: 0;">
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="color: #8a8a8a; margin: 0 auto 10px; padding: 0;">
                            <tr>
                                <td align="center">
                                    <a href="http://lod-misis.ru/developers/profile"
                                       style="-webkit-text-size-adjust: none; color: #8a8a8a; text-decoration: underline;"
                                       target="_blank">
                                        Отписаться
                                    </a>
                                    <span> от оповещений на почту.</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="color: #8a8a8a; margin: 0 auto 10px; padding: 0;">
                            <tr>
                                <td>
                                    <span>© League of developers</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>