<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="EasyNetQ" version="2.2.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net461" />
  <package id="Journalist.LanguageExtensions" version="0.20.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.5.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="Octokit" version="0.30.0" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.7.1" targetFramework="net461" />
  <package id="SourceLink.Create.GitHub" version="2.8.0" targetFramework="net461" />
</packages>