<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <appSettings>
    <add key="EventBusSettings.HostName" value="localhost"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="EventBusSettings.VirtualHost" value="/"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="EventBusSettings.UserName" value="guest"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="EventBusSettings.Password" value="guest"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="GithubGateway.ClientId" value="$(githubAppClientId)"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="GithubGateway.ClientSecret" value="$(githubAppClientSecret)"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="MailerSettings.Password" value="$(MailerPassword)"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
    <add key="Loggly.CustomerToken" value="$(logglyCustomerToken)"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="NHibernateConnectionString" connectionString="Host=localhost;Port=5432;Database=postgres;User ID=postgres;"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect" xdt:Transform="Replace" xdt:Locator="Match(name)">NHibernate.Dialect.PostgreSQLDialect</property>
      <property name="connection.driver_class" xdt:Transform="Replace" xdt:Locator="Match(name)">NHibernate.Driver.NpgsqlDriver</property>
    </session-factory>
  </hibernate-configuration>
</configuration>