<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net461" />
  <package id="AutoFixture.AutoMoq" version="3.40.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.0" targetFramework="net461" />
  <package id="EasyNetQ" version="1.1.4.506" targetFramework="net46" />
  <package id="Fare" version="2.1.1" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net461" />
  <package id="Moq" version="4.8.3" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="Npgsql" version="3.1.9" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>