<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <table bgcolor="#f1f1f1" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0; max-width: 600px; font-family: 'PT Sans', sans-serif;"
         width="100%" xmlns="http://www.w3.org/1999/html">
    <tr bgcolor="#ffffff">
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" style="margin: 30px auto; padding:0">
          <tr>
            <td>
              <a href="http://lod-misis.ru" target="_blank">
                <img alt="" border="0" style="display:block; width:60%; margin:auto"
                     src="https://lod-misis.ru/app/imgs/logo-ver2-black.png">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0"
               style="margin:0; padding:0; border-style: solid; border-width: 3px 0 3px 0; border-color: #e3e3e3; color: #000000;">
          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0" style="margin:30px 10px; padding:0">
                <tr>
                  <td align="center">
                  <span
                    style="text-align: center; font: 25px 'Arial Black', Gadget, sans-serif; font-weight: bold; line-height: 30px; -webkit-text-size-adjust:none;">Подтверждение почты</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="margin:0 20px; padding:0; font-size: 18px;">
                <tr>
                  <td>
                    <span style="line-height: 30px;">Здравствуйте, @Model.UserName.</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="margin:0 20px 30px; padding:0; font-size: 16px;">
                <tr>
                  <td>
                  <span
                    style="line-height: 25px;">Для подтверждения Email на сайте lod-misis.ru перейдите по этой ссылке: </span>
                    <br/>
                    <a href="@Model.ConfirmationLink" target="_blank"
                       style="line-height: 25px; text-decoration: underline; font-size:18px; color: #2980b9; -webkit-text-size-adjust:none;">
                      @Model.ConfirmationLink
                    </a>
                    <br/><br/>
                  <span
                    style="line-height: 25px;">Пожалуйста, проигнорируйте данное письмо, если оно попало к Вам по ошибке.</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr bgcolor="#ffffff">
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:30px 10px; padding:0; font-size: 18px;">
          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 10px; padding:0; color: #8a8a8a">
                <tr>
                  <td align="center">
                    <a href="http://lod-misis.ru/contact"
                       style="color: #8a8a8a; text-decoration: underline; -webkit-text-size-adjust:none"
                       target="_blank">Связаться</a>
                    <span>с нами.</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto 10px ; padding:0; color: #8a8a8a">
                <tr>
                  <td>
                    <span>© League of developers</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>